* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    font-family: 'poppins', sans-serif;
}

@media screen {

.container {
    width: 90vw;
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    box-shadow: 2px 2px 4px #ffff00;
    margin-inline: auto;
    word-spacing: 7px;
    letter-spacing: 1px;
    background-color: #fff;
    color: #1f1f1f;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    text-decoration: underline ;
}
}